<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CHECK_IP_URL" value="http://ip.3322.net"/>
		<add key="DDNS_HOST" value="nekokecore.f3322.net"/>
		<add key="DDNS_USERNAME" value="nekokecore"/>
		<add key="DDNS_KEY" value="sdSD0538"/>
		<add key="DDNS_IP" value=""/>
		<add key="UPDATE_TIME" value="7200"/>
	</appSettings>
</configuration>